.main_cart_wrap {
    width: 100%;
    margin: 0 auto;
    padding-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .inner_cart {
        width: 80%;
        display: flex;
    }
}
