@import "../../styles/mixins.scss";
@import "../../styles/abstracts/fonts";

h1 {
    text-align: center;
    font-family: $fontFamily;
    font-size: 22px;
}
.main {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.main_card_wrap {
    width: 90%;
    @include fontTextStyle;
    @include breakpoint(large) {
        width: 90%;
    }

    @include breakpoint(small) {
        width: 100%;
    }
    @include breakpoint(medium) {
        width: 100%;
    }
}

.inner_card {
    width: 15rem;
    margin: 1rem 0;

    cursor: pointer;
    height: 23rem;

    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(223, 245, 247, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    &__img_frame {
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        img {
            width: 13rem;
            height: 8rem;
        }
    }
    @media screen and (max-width: 500px) {
        width: 10.5rem;
    }
    .price_box {
        display: flex;
        justify-content: flex-start;

        margin: 4px 0 0 15px;
        font-size: $cardFont;

        .currentPrice {
            color: #ab844a;
            font-weight: 700;
            margin-left: 15px;
            @media screen and (max-width: 500px) {
                margin-right: 5px;
            }
        }
    }

    .product_description {
        width: 14rem;
        margin: 0 auto;
        font-size: 11.5px;
        display: flex;
        flex-direction: column;
        .description_text span {
            font-size: $cardFont;
            font-weight: bold;
            line-height: 22px;
        }
    }
    .btn_wrap {
        margin: 0.5rem 0;
        .btn {
            width: 11.5rem;
            margin-left: 1.5rem;
            @include buttonStyle;

            &:hover {
                color: black;
            }

            @include breakpoint(small) {
                width: 8.5rem;
            }

            @include breakpoint(medium) {
                width: 8.5rem;
            }
        }
    }
}
