@import "../../styles/mixins.scss";
@import "../../styles/abstracts/fonts";
.main_card_wrap {
    margin: 0 auto;
    padding-top: 0.5rem;
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include fontTextStyle;

    @media screen and (max-width: 500px) {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}
h1 {
    padding-top: 1rem;
    text-align: center;
    font-family: $fontFamily;
    font-size: 24px;
}
.inner_card {
    width: 14rem;
    margin: 1.3rem 0;
    cursor: pointer;
    height: 18rem;

    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(223, 245, 247, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    &__img_frame {
        img {
            width: 80%;
        }
    }
    @media screen and (max-width: 500px) {
        width: 10.5rem;
    }
    .price_box {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 4px 0 0 10px;
        font-size: $cardFont;

        .currentPrice {
            color: #ab844a;
            font-weight: 700;
            @media screen and (max-width: 500px) {
                margin-right: 5px;
            }
        }
    }

    .product_description {
        width: 12rem;
        font-size: 11.5px;
        height: 12rem;
        padding-left: 10px;
        .description_text span {
            font-size: $cardFont;
            font-weight: bold;
            line-height: 22px;
        }
    }

    .btn {
        width: 11.5rem;
        margin-left: 15px;
        @include buttonStyle;

        &:hover {
            color: black;
        }

        @include breakpoint(small) {
            width: 8.5rem;
        }

        @include breakpoint(medium) {
            width: 8.5rem;
        }
    }
}
