@import "../../styles//abstracts/fonts";
@import "../../styles/mixins";
.footer_wrapper {
    background-color: #8db4a5;
    width: 100%;
    color: #000000;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-family: $fontFamily;

    @include breakpoint(small) {
        height: 13.5rem;
    }
    @include breakpoint(medium) {
        height: 13.1rem;
    }
    &__inner {
        padding: 2rem 0 0 0;
        width: 70%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        &__contacts {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            width: 100%;
            line-height: 27px;
            @include breakpoint(small) {
                font-size: 14px;
            }
            &_header {
                font-weight: bold;
                font-size: 16px;
            }
            a {
                text-decoration: none;
                color: #000000;
                @include breakpoint(small) {
                    font-size: 12px;
                }
            }
        }

        &__social_media {
            display: flex;
            flex-flow: row-reverse;
            padding-top: 0.5rem;
            padding-bottom: 1rem;
            margin: 0 auto;
            width: 100%;
            svg {
                margin-left: 0.5rem;
            }
            a:hover {
                transform: scale(1.1);
            }
        }
        @include breakpoint(small) {
            width: 60%;
        }
    }
    .copyright {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        span {
            margin-top: 3.4rem;
            font-size: 14px;
            @include breakpoint(small) {
                font-size: 11px;
            }
        }
        @include breakpoint(small) {
            width: 100%;
        }
    }
}
