@import "../../styles/mixins.scss";
@import "../../styles/abstracts/fonts";
.header {
    position: fixed;
    top: 0px;
    margin: 0;
    width: 100%;
    z-index: 111111;
}

section {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.container {
    max-width: 65rem;
    padding: 0 2rem;
    margin: 0 auto;
    display: flex;
    position: relative;
}
.logo_container {
    flex: 1;
    display: flex;
    align-items: center;
    img {
        width: 50px;
        height: 50px;
        margin: 5px 0;
        border-radius: 50%;
    }
}
ul {
    text-decoration: none;
    list-style: none;
}
.nav_btn {
    flex: 3;
    display: flex;
}
.nav_links {
    flex: 2;
    .link {
        text-decoration: none;
        line-height: 3rem;
        color: black;
    }
}

.btn {
    display: inline-block;
    padding: 0.5rem 1.3rem;
    font-size: 0.8rem;
    border: 2px solid rgb(17, 17, 17);
    border-radius: 2rem;
    line-height: 1;
    margin: 0.2rem;
    transition: 0.3s;
    text-transform: uppercase;
}

.nav_links > ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_link {
    position: relative;
}
.search_box {
    display: block;
    width: 10rem;
    height: 30px;
    position: relative;
}
.input_search {
    height: 10px;
    width: 0.1rem;
    border-style: none;
    padding: 10px;
    font-size: 14px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all 0.5s ease-in-out;
    background-color: #fff;
    padding-left: 35px;
    color: rgb(0, 0, 0);
}
.input_search::placeholder {
    color: rgba(37, 37, 37, 0.5);
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 100;
}
.btn_search {
    width: 10px;
    height: 10px;
    border-style: none;
    font-size: 14px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 10px;
    color: #020202;
    background-color: transparent;
    pointer-events: painted;
}
.btn_search:focus ~ .input_search {
    width: 10rem;
    border-radius: 0px;
    background-color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
.input_search:focus {
    width: 10rem;
    border-radius: 0px;
    background-color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
.nav_link > .link {
    line-height: 3rem;
    color: rgb(17, 17, 17);
    padding: 0 0.8rem;
    letter-spacing: 1px;
    font-size: 0.95rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s;
}
.nav_link > .link > i {
    margin-left: 0.2rem;
}

.dropdown {
    position: absolute;
    top: 2.2rem;
    left: 0;
    width: 7rem;
    background-color: #fff;
    cursor: pointer;
    transform: translateY(10px);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}
.dropdown_link {
    display: flex;
    justify-content: center;
    padding-right: 2rem;
    line-height: 1.5rem;
}
.nav_link:hover > .dropdown,
.dropdown_link:hover > .dropdown {
    transform: translate(0, 0);
    opacity: 1;
    pointer-events: auto;
}
.hamburger_menu_container {
    flex: 1;
    display: none;
    align-items: center;
    justify-content: flex-end;
}
.hamburger_menu {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hamburger_menu div {
    width: 1.6rem;
    height: 3px;
    border-radius: 3px;
    background-color: rgb(240, 143, 78);
    position: relative;
    z-index: 1001;
    transition: 0.5s;
}
.hamburger_menu div:before,
.hamburger_menu div:after {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: rgb(240, 143, 78);
    border-radius: 3px;
    transition: 0.5s;
}
.hamburger_menu div:before {
    transform: translateY(-7px);
}
.hamburger_menu div:after {
    transform: translateY(7px);
}

#check {
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    width: 2.5rem;
    height: 2.5rem;
    z-index: 9000;
    cursor: pointer;
    opacity: 0;
    display: none;
}
#check:checked ~ .hamburger_menu_container .hamburger_menu div {
    background-color: transparent;
}
#check:checked ~ .hamburger_menu_container .hamburger_menu div:before {
    transform: translateY(0) rotate(-45deg);
}
#check:checked ~ .hamburger_menu_container .hamburger_menu div:after {
    transform: translateY(0) rotate(45deg);
}

@keyframes animation {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@media screen and (max-width: 750px) {
    .search_box {
        display: none;
    }
    .hamburger_menu_container {
        display: flex;
    }

    #check {
        display: block;
    }
    .nav_btn {
        position: fixed;
        height: calc(100vh - 3.5rem);
        top: 3.5rem;
        left: 0;
        width: 100%;
        background-color: rgba(76, 180, 199, 0.9);
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        overflow-x: hidden;
        overflow-y: auto;
        transform: translateX(100%);
        transition: 0s;
    }

    #check:checked ~ .nav_btn {
        transform: translateX(0);
    }

    #check:checked ~ .nav_btn .nav_link,
    #check:checked ~ .nav_btn .logo_sign {
        animation: animation 0.5s ease forwards 0.6s;
    }

    .nav_links {
        flex: initial;
        width: 100%;
    }
    .nav_links > ul {
        flex-direction: column;
    }
    .nav_link {
        width: 100%;
        height: 10vh;
        opacity: 0;
        transform: translateY(20px);
    }
    .nav_link > .link {
        line-height: 1;
        padding: 1.3rem 2rem;
        font-size: 1.1rem;
    }
    .nav_link > i {
        font-size: 1.2rem;
        transform: rotate(-90deg);
        transition: 0.7s;
    }
    .dropdown i {
        font-size: 1rem;
        transition: 0.7s;
    }

    .nav_link:hover > .dropdown,
    .dropdown_link:hover > .dropdown {
        display: block;
        // margin-top: 30px;
        background-color: transparent;
        color: rgb(61, 58, 58);
        float: right;
        @include breakpoint(medium) {
            // padding: 10px;
        }
    }

    .dropdown_link:not(:nth-last-child(2)) {
        border-bottom: none;
    }
    .nav_link:hover > i,
    .dropdown_link:hover > i {
        transform: rotate(3deg);
    }

    .dropdown {
        display: none;
    }
}
.page {
    display: none;
}
