@import "./abstracts/index";

$breakpoints: (
    small: 320px,
    medium: 740px,
    large: 1200px,
);
@mixin breakpoint($name) {
    @if not map-has-key($breakpoints, $name) {
        @warn "Invalid breakpoint `#{$name}`.";
    } @else {
        @media (max-width: map-get($breakpoints, $name)) {
            @content;
        }
    }
}
@mixin buttonStyle {
    height: 2rem;
    background-color: rgb(138, 185, 187);
    border: none;
    border-radius: 5px;
    font-size: $cardFont;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    margin-top: 0.5em;
}
@mixin fontTextStyle {
    font-size: $cardFont;
    font-family: $fontFamily;
    font-weight: 400;
}
@mixin fontTitleStyle {
    font-size: $titleFont;
    font-weight: 400;
}
