@import "../../styles/mixins.scss";
@import "../../styles/abstracts/fonts";
.table {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    padding: 1rem 0;
    @include breakpoint(medium) {
        margin: 0rem 1rem 1rem 0;
    }
    table {
        border: 1px solid grey;
        margin: 0 auto;
    }
    thead {
        width: 100%;
        tr {
            width: 90%;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            @include breakpoint(medium) {
                // flex-direction: column;
                flex-wrap: wrap;
                align-items: center;
                width: 100%;
            }

            th {
                margin: 0 1rem;
                width: 7rem;
            }
        }
    }
    tbody {
        width: 100%;
        tr {
            width: 90%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            @include breakpoint(medium) {
                // flex-direction: column;
                flex-wrap: wrap;
                align-items: center;
                width: 100%;
            }
            td {
                width: 7rem;
                text-align: center;
                padding-left: 0.7rem;
            }
            .title {
                overflow: scroll;
            }

            .description {
                overflow: scroll;
            }
        }

        .img {
            width: 5rem;
            height: 3rem;
        }

        .colors {
            margin: 0 auto;
            display: flex;
            justify-content: center;

            .color {
                border-radius: 50%;
                width: 10px;
                height: 10px;
                margin: 0 0.2em;
            }
        }
        .btn_wrapper {
            display: flex;
            justify-content: flex-end;
            button {
                margin-left: 0.2rem;
            }
        }
    }
}
